/* General */
* {
    box-sizing: border-box;
    margin: 0px;
}

/* Común a todas las páginas */
header {
    background-color: olivedrab;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    padding: 1px 10px;
}

.espacio-nav {
    height: 10vh;
}

nav ul{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

nav li {
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
}

footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: olive;
}

main {
    background-color: aliceblue;
}

section {
    width: 100%;
}

.info {
    padding: 20px;
}

.info p {
    padding: 20px;
}

/* Página index */
section#title-card {
    height: 100vh;
    background-color: brown;
    justify-content: center;
    align-items: center;
    display: flex;
}

#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*
Tengo ganas de, usando nth-child, hacer que algunos info esten alineados a la derecha
*/

