/* General */
* {
    box-sizing: border-box;
    margin: 0px;
    --header-height: 5em;
    --nav-font:  Verdana, Geneva, Tahoma, sans-serif;
    --nav-font-size: 1em;
}

/* Común a todas las páginas */
header {
    background-color: #5adb76;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    position: sticky;
    top: 0px;
    left: 0px;
    padding: 5px 15px;
    z-index: 2;
    height: var(--header-height);
}

h1 {
    font-family: 'Smooch', cursive;
    color: black;
    text-decoration: none;
}

header a {
    color: inherit;
    text-decoration: none;
}

#nav{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

nav li {
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    transition: color 0.5s, background-color 0.5s;
}

button, button:hover, button:focus {
    border: none;
    background-color: #00000000;
    outline: none;
    font-family: var(--nav-font);
    font-size: var(--nav-font-size);
}

nav a {
    font-family: var(--nav-font);
    text-decoration: none;
    color: inherit;
    font-size: var(--nav-font-size);
}

nav li:hover {
    color:rgb(216, 14, 95);
    background-color: #8ae687;
}

a {
    color: rgb(154, 0, 69);;
}

footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #3a8e31;
    text-align: center;
}

main {
    background-color: rgb(247, 237, 243);
    min-height: 75vh;
}

::selection {
    background-color: rgb(154, 0, 69);
    color: white;
}

main h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    width: 100%;
}

.info {
    padding: 20px;
}

.info p {
    padding: 10px 20px;
}

/* Página index */
section#title-card {
    height: calc(100vh - var(--header-height));
    background-color: rgb(239, 150, 161);
    justify-content: center;
    align-items: center;
    display: flex;
}

#title {
    color: #00000000;
    font-size: 4rem;
    text-align: center;
    animation: fade-in 2s linear 0.5s 1 forwards;
}

@keyframes fade-in {
    0% {
        color: #00000000;
    }

    70% {
        color: #e00a67;
    }

    100% {
        color: rgb(0, 0, 0);
    }
}

iframe {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
/* Contacto */

form {
    border: 3px solid rgb(211, 19, 90);
    border-radius: 5px;
    margin: 0px 20px;
    padding: 10px;
    background-color: #fea4c8;
}

fieldset, legend {
    border-radius: 10px;
    border: 3px solid rgb(195, 66, 113);
    background-color: #ffe3f0;
}

legend {
    padding: 5px;
}


fieldset+fieldset, .form-btns{
    margin-top: 20px;
}

.form-warning {
    display: none;
    color: red;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="url"], textarea{
    width: 100%;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
}

.option-group{ 
    margin-left: 20px;
}

.form-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input[type="submit"], input[type="reset"] {
    flex-grow: 1;
    background-color: rgb(242, 51, 121);
    border: 2px solid rgb(139, 31, 31);
    border-radius: 5px;
    padding: 5px;
}

input:focus, textarea:focus {
    outline: 2px solid rgb(132, 0, 153);
}

/* Productos */

.product-card {
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: transform 0.5s, background-color 0.5s;
    color: black;
    text-decoration: none;
}

.product-card:hover {
    background-color: #e2e2e2;
    transform: scale(1.1);
    z-index: 1;
}

.product-grid a {
    text-decoration: none;
    color: inherit;
}

.product-card img {
    width: inherit;
    border-radius: 10px 10px 0px 0px;
}

.product-card h3 {
    padding: 10px;
}

.product-card p {
    padding-top: 0px;
}

.product-grid {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content;
    gap: 30px 20px;
}

/*Responsive*/
@media (min-width: 900px) {
    nav #menu, nav #exit-menu {
        display: none;
    }    
}
@media (max-width:900px) {
    * {
        --header-height: 4em;
    }

    #nav {
        flex-flow: column;
        position: fixed;
        margin: 0 auto;
        left: 0;
        top: -10px;
        width: 100vw;
        height: 0vh;
        background-color: purple;
        padding: 10px;
        justify-content: space-around;
        display: none;
        transition: height .5s, top .5s;
        overflow: hidden;
    }

    #menu, #exit-menu {
        font-family: var(--nav-font);
        font-size: var(--nav-font-size);
    }

    #exit-menu {
        align-self: end;
        width: auto;
        height: auto;
        padding: 5px;
    }

    nav li {
        text-align: center;
    }

    .product-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .product-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 540px){
    section {
        padding: 0;
    }
    .form-btns {
        flex-direction: column;
    }

    form {
        margin: 0;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }

    .info {
        padding: 10px;
    }
}

@media (max-width: 420px) {
    * {
        --header-height: 3em;
    }
    .info p {
        margin: 10px 0;
        padding: 0;
    }

    header h1 {
        font-size: 1.5em;
    }

    .product-grid {
        margin: 20px 0;
        padding: 0;
        column-gap: 0;
    }

    .product-card:hover {
        transform: none;
    }
}