{% include 'header.html' %}

    <main>
        <!-- Título principal -->
        <section id="title-card">
            <h1 id="title">El Jardín Vertical</h1>
        </section>

        <!-- Secciónes de información sobre la empresa -->
        <section class="info">
            <h2>Quiénes somos</h2>
            <div class="info-content">
                <p>Somos un emprendimiento preocupado principalmente en brindar plantas de calidad a la comunidad, y de ayudar a mantener el orden y la armonía en tu jardín. Cuando uno organiza un jardín, siempre se preocupa principalmente por la salud y el estado de las plantas, pero nosotros pensamos que aunque eso es importante, hay más factores que colaboran en hacer un lindo jardín.</p>
                <p>Por eso nosotros ofrecemos, además de plantas e implementos de jardinería normales, instalaciones para hacer jardines verticales. Esta instalación va en la pared,  y permite que las plantas crezcan ahí, ocupando menos espacio y dejando una pared preciosa.</p>
            </div>
        </section>

        <section class="info">
            <h2>Lo que hacemos</h2>
            <div class="info-content">
                <p>Vendemos plantas e instalaciones alternativas para plantas, como distintos tipos de jardines verticales y macetas colgantes.</p>
            </div>
        </section>

        <section class="info">
            <h2>Nuestros productos</h2>
            <div class="info-content">
                <p>Para las instalaciones para jardinería, le pedimos que se ponga en <a href="/contacto">contacto con nosotros</a>, así la instalación se puede adecuar a sus necesidades. </p>
                <p>En nuestra página también puede hallar <a href="/productos">las distintas plantas que vendemos.</a></p>
            </div>
        </section>

        <section class="info">
            <h2>Dónde estamos</h2>
            <div class="info-content">
                <p>Nos podés encontrar en las siguientes sucursales:</p>
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1UniTsnJAWMBb04YAc2mFQwY8NbBmV2Wz&ehbc=2E312F" width="640" height="480"></iframe>
            </div>
        </section>
    </main>

{% include 'footer.html' %}