
    <!-- Footer -->
    <footer>
        <p>Nuestras redes: <a href="https://twitter.com/" aria-label="twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a> <a href="https://www.instagram.com/" target="_blank" aria-label="instagram"><i class="fa-brands fa-instagram"></i></a></p>
        <p>Página creada por Florencia Allami. Contacto: <a href="mailto:allami.florencia@gmail.com">allami.florencia@gmail.com</a></p>
        <p>Los contenidos de esta página fueron hechos por motivos educativos. Esta empresa no es real.</p>
    </footer>

</body>
</html>
